* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* outline: red solid 2px; */
}
.header {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button {
    width: 50px;
    height: 25px;
    background-color: aqua;
    border: 2px solid black;
    box-shadow: 4px 2px black;

}
#def{
    background-color: green;
    border: hidden;
    margin-left: 30%;
    margin-top: 10px;
    width:fit-content;
}
.search {
    width: fit-content;
    height: 25px;
}
.topcol, 
.basecol,
.col2 {
    margin: 20px;
    padding: 10px;
    line-height: 2;
    border: solid;
    border-color: darkblue;
    border-width: 2px;
}
h5 {
    font-style: italic;
}
h6 {
    font-weight: lighter;
}
.likes {
    background-color:darkgoldenrod;
    border: 2px solid black;
    box-shadow: 4px 2px black;
}
.mainbody {
    display: flex;
    justify-content: center;
}
.topcol,
.basecol {
    display: flex;
    justify-content: space-evenly;
}
p {
    text-align: center;
}