* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}
body {
    background-color: #f3f3f3;
    font-family: cursive;
    font-size: larger;
    font-weight: bold;
}
.header {
    background-color: black;
    color: aliceblue;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    /* align-content: center; */
    align-items: center;
}
.lefthead {
    margin: 10px;
    padding: 10px;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    /* padding: 10px; */
    /* align-items: flex-start;  */     
}
.righthead {
    display: flex;
    /* justify-content: flex-end; */
    align-content: flex-end;
    padding: 10px;
}
button {
    border-radius: 5px;
    height: 35px;
    width: 100px;
    font-size: large;
    font-weight: bold;
    color: darkblue;
}
.usercard {
    background-color: antiquewhite;
    /* width: 500px; */
    border: 2px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 20px; */
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}
.cardhead {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}
.cardbody {
    padding: 20px;
}
.cardbody h1, 
.cardbody h2,
.cardbody h3,
.cardbody p {
    margin: 20px 0px;
}
.avatar-m {
    border-radius: 50%;
    background-color: #fff;
    height: 180px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}
.icon-s {
    height: 20px;
}
a {
    color: #3a81e6;
}
.education {
    /* width: 500px; */
    /* height: 150px; */
    border: solid;
    border-color: black;
    border-width: 2px;
    /* margin-left: 20px; */
    /* margin: 10px;
    padding: 10px; */
}
#edu {
    background-color: #17a2b8;
    height: 30px;
}
.connection-req {
    background-color: antiquewhite;
    /* width: 200px; */
    /* height: 200px; */
    border: solid;
    border-color: black;
    border-width: 2px;
    /* margin-left: 20px; */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.headtab {
    background-color: #17a2b8;
    height: 30px;
}
.smallimg {
    border-radius: 50%;
    height: 20px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
.reqs {
    border-radius: 50%;
    height: 20px;
    padding: 5px;
    align-items: flex-end;
}
.my-connections {
    background-color: antiquewhite;
    /* width: 400px;  */
    /* height: 300px; */
    border: solid;
    border-color: black;
    border-width: 2px;
    /* margin-left: 20px; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.main-container {   
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}
.container, .container2 {
    display: inline-block;
    height: 100%;
    box-sizing: border-box;
    vertical-align: top;
}
.container {
    width: 50%;
    margin-right: 2%;
    margin-left: 10%;
}
.container2 {
    width: 15%;
    margin-right: 10px;
}